@tailwind utilities;

.popover-style {
  background: #1fa0ff !important;
  border-color: #1fa0ff !important;
  font-weight: normal;
}

.popover-style div {
  color: white;
}

.accordion__item > div * {
  padding: 0;
}

.accordion__ul {
  margin: 0;
  padding: .5rem .5rem .5rem 2rem !important;

}

@media (min-width: 640px) {
  .accordion__ul {
    padding: 1.5rem 1.5rem 1.5rem 3rem !important;
  }
}
